cx.ofd.resourcestorage.riakservers=192.168.1.30:8087

cx.fnd.redislockfactory.redisservers=192.168.1.70:6379

cx.tmb.hdfsutil.hdfsservers=hdfs://192.168.1.60:9000/
cx.tmb.thumbnailprovider.workingpath=D:\Data\cx2_debug\cx.tmb.thumbnailprovider.workingpath
cx.tmb.thumbnailproviderfactory.thumbnailwidth=105
cx.tmb.thumbnailproviderfactory.thumbnailheight=152
